@model Question

<div class="m-3">
    <label asp-for="QuesAnswer"></label>
    <select asp-for="QuesAnswer" class="form-select">
        <option value="A">Choice A</option>
        <option value="B">Choice B</option>
        <option value="C">Choice C</option>
        <option value="D">Choice D</option>
    </select>
</div>

<div class="m-3">

    <label>Choice A</label>
    <textarea asp-for="Choice.A" required class="form-control mb-3">@Model?.Choice?.A</textarea>

    <label>Choice B</label>
    <textarea name="Choice.B" required class="form-control mb-3">@Model?.Choice?.B</textarea>

    <label>Choice C</label>
    <textarea name="Choice.C" required class="form-control mb-3">@Model?.Choice?.C</textarea>

    <label>Choice D</label>
    <textarea name="Choice.D" required class="form-control mb-3">@Model?.Choice?.C</textarea>

</div>
