@model Question

<div class="m-3">
    <label asp-for="QuesAnswer"></label>
    <select asp-for="QuesAnswer" class="form-select">
        <option value="A">True</option>
        <option value="B">False</option>
    </select>
</div>
