@model Question

@{
    ViewData["Title"] = "Create";
}

<form class="col-6" asp-action="Create">

    <div class="m-3">
        <label asp-for="QuesTittle"></label>
        <textarea asp-for="QuesTittle" class="form-control" required></textarea>
        <span asp-validation-for="QuesTittle" class="text-danger"></span>
    </div>

    <div class="m-3">
        <label asp-for="CrsId" >Course</label>
        <select asp-for="CrsId" class="form-select" asp-items="@ViewBag.InstructorCourses"></select>
    </div>

    <div class="m-3">
        <label asp-for="QuesType"></label>
        <select asp-for="QuesType" asp-items="@ViewBag.questionTypeSL" class="form-select"></select>
    </div>

    <div class="m-3">
        <label asp-for="QuesWeight"></label>
        <select asp-for="QuesWeight" asp-items="@ViewBag.questionWeightsSL" class="form-select"></select>
    </div>

    <div id="choices">
        
        <partial name="_MultipleChoicesPartial" />


    </div>
    <div>
        <input type="submit" value="Create" class="mb-2 btn btn-primary" />

    </div>

    <a asp-action="Index" class="btn btn-outline-primary">Back to list</a>

</form>

<script>
   
    // window.addEventListener("Load", () => {
        console.log("Hello");
        document.getElementsByTagName("select")[1].addEventListener("change", () => {
            let xhr = new XMLHttpRequest();
            let value = document.getElementsByTagName("select")[1].value;
            console.log(value)

            if (value == "T") {
                xhr.open('GET', 'LoadTrueFalsePartial', true);
            } else {
                xhr.open('GET', 'LoadMultipleChoicesPartial', true);
            }

            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.onload = function () {
                if (xhr.status >= 200 && xhr.status < 300) {
                    console.log(xhr.responseText);
                    document.getElementById('choices').innerHTML = xhr.responseText;
                } else {
                    console.error('Failed to load partial view. Error: ' + xhr.statusText);
                }
            };
            xhr.onerror = function () {
                console.error('Failed to load partial view. Network error.');
            };
            xhr.send();
        });
    // });
</script>

