
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AnswerHandling</title>
</head>
<body>
    <p>your grade: @ViewBag.Grade out of @ViewBag.TotalGrade</p>
</body>
</html>
