@model List<StudentExamGrade>
@{
    ViewData["Title"] = "StudentPastExams";
}

<h1>Your Past Exams</h1>
<table class="table table-responsive table-bordered">
    <thead>
        <th>Exam ID</th>
        <th>Grade</th>
        <th>Report</th>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.ExamId</td>
                <td>@item.Grade</td>
                <td>
                    <a asp-action="StudentExamAnswers" asp-route-ExamId="@item.ExamId" asp-route-StudentId="@item.StdId" class="btn btn-outline-info">view report</a>
                </td>
            </tr>
        }
    </tbody>
</table>

